.widget {
    display: flex;
        flex-direction: column;
        position: absolute;
        height: fit-content;
        max-height: 100%;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
       align-items: center;
}
.change-color {
    border-radius: 8px;
        padding: 8px 16px;
        width: 148px;
        height: 40px;
        margin-top: 0;
}
.widget p {
font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42;
    margin:0 0 16px 0;
}